<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="shortcut icon" type="image/x-icon" href="img/logo.png" />
    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet">

</head>

<body>
    <div class="wrapper">
        <%- include('../partials/header.ejs') %>
        <%- include('../partials/nav.ejs') %>
        <main>
            <%- body %>
        </main>
       
        <%- include('../partials/footer.ejs') %>
    </div>
    
</body>
</html>

<script src="js/index.js"></script>