<h1>This is a Business content list</h1>

<p>This part will only show when user is authenticated</p>

<div class="reader" id="reader">
    <table id="datatable">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>Edit</th>
        </tr>
        <tbody>
            
            <% for(let count = 0 ; count < content.length ; count++ ){ %>
                <tr>
                    <td><%- content[count].firstname + " " + content[count].lastname %></td>
                    <td><%- content[count].email %></td>
                    <td><%- content[count].phone %></td>
                    <td>
                        <button onclick="delection(id)"  id ="<%= content[count]._id %>" > Delete</button>
                        <button id ="<%= content[count]._id %>" ><a id="button-link" href="/update?id=<%= content[count]._id %>">Update</a> </button>
                    </td>
                </tr>
            <% } %>
        </tbody>
        
        
    </table>
    
</div>